@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

:root{
    --cor1: #00377A;
    --cor2: #4B9AFB;
    --cor3: #0171FA;
    --cor4: #254B7A;
    --cor5: #005AC7;

    --fonte-padrao: 'Permanent Marker', cursive;
}
*{
    margin: 0px;
    padding: 0px;
}
body{
    background-image: url(../images/wallpaper003.jpg);
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    background-attachment: scroll;
}
header{
    font-family: 'Permanent Marker', cursive;
    background-image:url(../images/wallpaper001.jpg);
    text-align: center;
    font-weight: normal;
    color: white;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.349);
    min-width: 40vh;
}
header > h1{
    font-size: 3em;
}
header > p{
    font-size: 2em;
    max-width: 600px;
    margin: auto;
}
nav{
    font-family: 'Times New Roman', Times, serif;
    background-color: var(--cor1);
    text-align: center;
    padding: 5px;
    box-shadow: 4px 2px 3px black;
    font-size: 14px;
    margin-bottom: 20px;
    min-width: 45vh;
}
nav > a{
    font-size: 1.2em;
    text-decoration: none;
    font-weight: bold;
    color: white;
    padding: 10px;
    transition-duration: .3s
}
nav > a:hover{
    background-color: var(--cor2);
    padding: 5px;
    border-radius: 20px;
}
article > h2#promo{
    background-color: var(--cor4);
    font-size: 2em;
    font-weight: bold;
    color: white;
    text-align: center;
    margin: 20px;
    border-radius: 20px;
}
article > h2#end{
    background-color: var(--cor4);
    color: white;
    font-size: 1.2em;
    padding: 10px;
}
#produtos div{
    display: inline-block;
	margin:10px;
    text-align: center;
}
#produtos > div > p{
    background-color: var(--cor2);
    padding: 5px;
    margin: 10px;
    border-radius: 10px;
    color: black;
    font-weight: bold;
    font-size: 16px;
}
.lista > img{
    border: solid rgba(0, 0, 0, 0.600);
    padding: 0px;
}

#contato{
    list-style-position: inside;
    columns: 2;
    padding: 20px;
    margin: 10px;
}
#contato li{
    font-size: 20px;
    margin: 10px;
    font-weight: bold;
    text-align: left;
}
#contato a{
    text-decoration: none;
    color: black;
    font-size: 18px;
    
}
#contato a:hover{
    background-color: var(--cor2);
    color: white;
    text-decoration: underline;
    padding: 5px;
    border-radius: 10px;
}
article > h1{
    font-family: 'Permanent Marker', cursive;
    padding: 10px;
    color: var(--cor3);
    font-weight: bold;
    font-size: 2em;
}
#lista div{
    display: inline-block;
	margin:10px;
    text-align: center;
}
#lista  > div > p{
    background-color: var(--cor2);
    padding: 5px;
    margin: 10px;
    border-radius: 10px;
    color: black;
    font-weight: bold;
    font-size: 16px;
}
main{
    min-width: 300px;
    max-width: 800px;
    background-color: rgba(255, 255, 255, 0.500);
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.507);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
article{
    text-align: center;
}

footer{
    background-color: yellow;
}
footer > p{
    text-align: center;
    padding: 3px;
}